* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Brittany';
    src: url('./fonts/brittany_signature/BrittanySignature.ttf') format('truetype');
}


header {
    padding: 10px 5%; /* Ajustado el padding a un valor relativo */
    color: white;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos del header se envuelvan en pantallas pequeñas */
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: 'Nunito', sans-serif;
}

nav.menu {

    position: absolute;
    top: 55px;
    right: 700px; /* Ajustado el margen derecho a un valor relativo */
    max-width: 600px; /* Limita el ancho máximo del menú */
    width: 50%; /* Asegura que el menú ocupe el ancho completo */
   
}

.logo {
    max-width: 25%;
    height: auto;
}

body.background {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('./images/background.png');
    background-size: cover;
    color: #ffffff;
}

.menu a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
    font-size: 15px;
}

.mostrar-menu,
.esconder-menu {
    font-size: 13px;
    cursor: pointer;
    transition: 0.4s;
}

#check {
    display: none;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: black; /* Cambiado a negro */
    border-radius: 20px; /* Cambiado el valor para border-radius */
    background-color: orange;
    padding: 10px 20px;
}

.botton-reserva {
    font-family: 'Nunito', sans-serif;
    background-color: orange;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px; /* Ajusta el tamaño de fuente para una mejor legibilidad en dispositivos móviles */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 80%; /* Cambia el ancho para ocupar el 80% del contenedor en dispositivos móviles */
    max-width: 280px; /* Limita el ancho máximo del botón */
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    .botton-reserva {
        font-size: 12px;
        padding: 8px 16px;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
}

.welcome-font {
    width: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    background-image: url('./images/footer-background.png');
    color: white;
    padding: 9px;
    text-align: center;
}

footer p {
    font-family: cursive;
    font-size: 9px;
    margin: 0;
}
.overlay {
    border-radius: 5%;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.9); /* Blanco con transparencia del 90% */
    z-index: 1; /* Asegura que la capa esté sobre otros elementos */
}
#h1-restaurantes {
    font-family: 'Brittany', sans-serif;
    font-size: 35px;
    color: white;
    text-align: center;
    margin-top: 50px;
}
.card {
    border-radius: 5%;
    flex: 1;
    max-width: 5%;
    padding: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.car-rst1 {
    border-radius: 5%;
    flex: 1;
    max-width: 24%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0; /* Ajusta el margen superior e inferior */
    margin-left: 120px; /* Mueve la tarjeta hacia la derecha */
}

.car-rst1 img {
    border-radius: 5%;
    max-width: 100%;
    height: auto;
}


