* {
    margin: 0;
    padding: 0;
   
}
header {
    padding: 10px 50px; /* Ajusta el padding según sea necesario */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: 'Nunito', sans-serif;
}


nav.menu {
    position: absolute;
    top: 40px; /* Coloca el nav en la parte superior */
    right: 70px; /* Ajusta la posición según sea necesario */
    margin-right: 470px;
}
.logo {
    max-width: 20%; /* Ajusta el ancho máximo del logo en porcentaje */
    height: auto;
    /* Resto de los estilos */
}

body.background {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('./images/background.png'); /* Cambia la ruta a la ubicación de tu imagen */
    background-size: cover;
    color: #ffffff; /* Color de texto en el fondo de la imagen */
}

.menu a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
    font-size: 15px;
}
.mostrar-menu,
.esconder-menu {
    font-size: 13px;
    cursor: pointer;
    transition: 0.4s;
}

#check {
    display: none;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: #FFFFFF;
}


/* style.css */

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype'); 
}
.botton-reserva {
    font-family: 'Nunito', sans-serif;
    background-color: orange;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 9%;
    
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    .botton-reserva {
        font-size: 12px;
        padding: 8px 16px;
        top: 75%; /* Ajusta la posición vertical en pantallas pequeñas */
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
/* style.css */

/* ... (otros estilos) ... */

footer {
    background-color: #001A57;
    color: white;
    padding: 20px;
    text-align: center;
}

footer h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer p {
    font-size: 16px;
    margin: 0;
}

/* Resto de tus estilos */


/* style.css */

/* ... (otros estilos) ... */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece el alto mínimo del cuerpo para ocupar toda la ventana */
}

.content {
    flex: 1; /* Permite que el contenido principal crezca y ocupe todo el espacio disponible */
    padding: 20px;
}
.welcome-font{
    width: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


footer {
    background-image: url('./images/footer-background.png'); /* Cambia la ruta a la ubicación de tu imagen */
    color: white;
    padding: 9px;
    text-align: center;
}

footer p {
    font-family: cursive;
    font-size: 9px;
    margin: 0;
}

/* inicio del formulario*/
.form{ 
    
    background-color: #ffffff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 2em 2em;
    border-radius: 10px;
    box-shadow: 0 5px 10 -5px rgb(0 0 0 / 30%);
    text-align: center;

}

.formTitle{
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    margin-bottom: .5em;
    color: #000000 ;
}

.formParagraph{
    font-weight: 300;
    color: #000000 ;
}

.formLink{
    font-weight: 400;
    color: #000000 ;
}

.formContainer{
    margin-top: 3em;
    display: grid;
    gap: 1.5em;
}

.formGroup{
    position: relative;
    --color:#5757577e;
}

.formInput{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Nunito', sans-serif;
}

.formInput:focus + .formLabel,
.formInput :not(:placeholder-shown)+ .formLabel{
    transform: translateY(-12px) scale(.7);
    transform-origin:left top;
    color: #3866f2;
}

.formLabel{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;

}

.formSubmit{
    background: #3866f2;
    color:#fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

@media(max-widht:425px){
    .formTitle{
        font-size: 1.8rem;

    }

}


